@import url('http://fonts.cdnfonts.com/css/cocogoose?styles=44178');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
  --ff-cocogoose: 'Cocogoose';
  --ff-lato: 'Lato';
  --ff-helvetica: 'Helvetica';
  --color-black: #272a31;
  --color-red: #ec5242;
  --color-lightgrey: #d3d3d3;
  --color-white: #fff;
  --border-check: 1px solid crimson;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--ff-lato);
}

.nav-mobile {
  display: flex;
  margin: 24px;
}

.menu-link {
  border: 0;
  background: none;
  cursor: pointer;
}

.menu-link i {
  font-size: 30px;
}

.nav-mobile-popup {
  overflow: hidden;
  position: fixed;
  top: 0%;
  right: 0%;
  display: none;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: rgb(12, 12, 12);
  color: #3a4a42;
  opacity: 0.95;
  text-align: center;
  z-index: 1;
}

.close-popup {
  font-size: 30px;
  color: #fff;
  font-weight: 500;
  float: right;
  margin: 0.5em 0.5em;
  align-self: flex-end;
}

.close-popup:hover {
  color: blue;
  cursor: pointer;
}

.nav-mobile-popup ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  padding: 20px;
}

.nav-mobile-popup ul li {
  margin: 0 8px;
}

.nav-mobile-popup ul li a {
  color: #fff;
  opacity: 0.8;
  font-weight: 500;
  text-decoration: none;
  font-size: 1.3rem;
  padding: 6px;
}

.hconatiner {
  background-image: url(../images/mobile-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 720px;
}

.nav-conatiner {
  width: 100%;
  display: flex;
  margin: auto;
  height: 150px;
}

.menu-link img {
  opacity: 0.7;
  padding-top: 10px;
  font-size: 40px;
  color: #272a31;
  padding-left: 35px;
  padding-bottom: 70px;
  z-index: 1;
  width: 90px;
}

.cott-title p {
  padding-left: 25px;
  font-family: 'poppins', sans-serif;
  color: #ff0000e3;
  opacity: 0.6;
  font-size: 25px;
  padding-bottom: 5px;
}

.title h1 {
  font-family: var(--ff-cocogoose);
  font-size: 2.2rem;
  letter-spacing: 0.1rem;
  padding-left: 25px;
  background-image: linear-gradient(155deg, #ec5242 0%, red 0%, #d98324 74%);
  background-clip: border-box;
  -webkit-background-clip: text;
  color: transparent;
  padding-bottom: 1rem;
}

.description {
  margin: 19px 20px;
  border: 4px solid white;
  padding: 20px;
  background: #f3f2f2;
}

.titledescription {
  line-height: 28px;
  font-size: 16px;
  opacity: 0.8;
  font-weight: 500;
  text-align: justify;
}

.palce {
  font-weight: 600;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  color: var(--color-black);
  text-align: center;
}

.palce h2 {
  font-family: var(--ff-cocogoose);
  opacity: 0.8;
  font-size: 1.5rem;
}

.palce p {
  font-size: 18px;
  padding: 10px 20px;
  opacity: 0.8;
}

/* starting main section for mobile screen */
main {
  background: #272a31 url(../images/dots.svg);
  color: #d3d3d3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.program-title {
  color: white;
  font-size: 30px;
  text-align: center;
  font-weight: 600;
  margin: 24px;
}

.program-title::after {
  content: '';
  display: block;
  position: relative;
  margin: 0 auto;
  top: 0.5em;
  width: 1em;
  height: 1px;
  background: #ec4542;
}

.main-card {
  width: 90%;
  margin: 0 auto;
}

.program {
  display: flex;
  align-items: center;
  background-color: #454850;
  opacity: 0.8;
  padding: 1em 0;
  margin-bottom: 1em;
}

.program p {
  padding: 1em;
}

.program p i {
  font-size: 32px;
  margin: 5px;
  color: white;
}

.program-head {
  width: 30%;
  color: #ec4542;
  font-size: 20px;
  font-weight: 600;
}

.program-description {
  width: 50%;
  color: white;
  font-size: 0.8em;
}

.join-program {
  padding: 2em 2em;
  margin: 2em;
  background: #ec4542;
  color: white;
  font-size: 1.1em;
  font-weight: bold;
  border: none;
}

.partners,
.footer {
  display: none;
}

.d-menu-container {
  display: none;
}

/* ---------------Speakers Section--------------- */
.features {
  background-color: var(--color-white);
  opacity: 0.9;
  filter: grayscale(1px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  color: var(--color-black);
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
}

.features .indicator {
  width: 3rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.8;
}

.features h2 {
  margin-top: 2rem;
}

.featureContainer {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding: 1rem;
  margin-top: 1rem;
}

.speakerItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  margin-bottom: 2rem;
}

.speakerItem img {
  background-color: var(--color-white);
}

.profile {
  text-align: left;
  margin-left: 0.5rem;
  width: 100%;
}

.profile img {
  width: 1rem;
  position: relative;
  top: -0.25rem;
}

.profile h2 {
  color: var(--color-black);
  margin-top: auto;
  margin-bottom: 0.25rem;
  font-size: 1rem;
}

.profile h3 {
  color: var(--color-red);
  margin-top: auto;
  font-style: italic;
  font-size: 0.8rem;
  font-weight: 400;
}

.profile p {
  text-align: left;
  font-size: 0.6rem;
  line-height: 0.8rem;
}

/* feature section end */
.partner {
  display: none;
}

/* ---------------Footer Section--------------- */
.mobileFooter {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  padding: 1rem 0;
  margin-left: 2rem;
  margin-right: 2rem;
}

.mobileFooter img {
  max-width: 40%;
  max-height: 40%;
  object-fit: cover;
  margin-right: 1rem;
}

.mobileFooter p {
  font-size: 0.75rem;
}

.desktopFooter {
  display: none;
}

@media (min-width: 768px) {
  .hconatiner {
    background-image: url(../images/website-bg.png);
    width: 100%;
    height: 860px;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  .nav-conatiner {
    width: 100%;
  }

  .menu-link {
    display: none;
  }

  .d-menu-container {
    display: block;
    width: 100%;
    height: 120px;
    background-color: #fff;
    border-bottom: 1px slategray;
  }

  .d-menu-link {
    height: 25%;
    background-color: #272a31;
  }

  .d-menu-link ul {
    display: flex;
    list-style-type: none;
    float: right;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 180px;
  }

  .menu-bar-bottom li {
    padding-right: 30px;
  }

  .partner li {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--color-lightgrey);
    margin-right: 2rem;
  }

  .d-menu-link ul li {
    list-style-type: none;
  }

  .menu-bar-bottom a {
    font-size: 18px;
    font-weight: 600;
    color: black;
    opacity: 0.6;
    text-decoration: none;
    padding: 10px;
  }

  .d-menu-link ul li a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    opacity: 0.8;
  }

  .heder-list {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }

  .logo {
    height: 80px;
    border: 0 #d3d3d3 solid;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-content: center;
  }

  .logo img {
    max-width: 100%;
    max-height: 100%;
  }

  .menu-bar-bottom {
    display: flex;
    flex-direction: row;
    list-style-type: none;
  }

  .menu-bar-bottom a:hover {
    border: 3px #f24530 solid;
    color: #f18778;
  }

  .menu-bar-bottom .active {
    color: #f18778;
  }

  .cott-title p {
    padding-top: 60px;
    padding-left: 170px;
    font-size: 2rem;
  }

  .title h1 {
    padding-left: 170px;
    font-size: 3.5rem;
  }

  .description {
    width: 50%;
    margin-left: 170px;
  }

  .palce {
    font-weight: 600;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    color: var(--color-black);
    text-align: center;
  }

  .palce h2 {
    padding-right: 680px;
  }

  .palce p {
    padding-right: 580px;
    padding-bottom: 80px;
  }

  .main-card {
    width: 90%;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
  }

  .program {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    height: auto;
    margin: 0.1em;
    padding-left: 0.6em;
    padding-right: 0.6em;
  }

  .program img {
    font-size: 1.8em;
  }

  .join-program {
    display: none;
  }

  .program-head {
    margin: 0;
    padding: 0;
    text-align: center;
  }

  .program-description {
    font-size: 0.7em;
    text-align: center;
    font-weight: bold;
  }

  .program:hover {
    border: white 2px solid;
    cursor: pointer;
  }

  .See-the-whole {
    display: block;
    color: white;
    font-size: 20px;
    margin: 44px;
  }

  .nav-mobile {
    display: none;
  }

  .featureContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 4vw;
    margin-right: 4vw;
  }

  .partner {
    display: block;
    background-color: #2e3139;
    padding-top: 1rem;
    padding-bottom: 3rem;
    text-align: center;
    filter: grayscale(1px);
    height: 100%;
    color: var(--color-white);
    backdrop-filter: blur(0.5rem);
  }

  .partner h2 {
    margin: 1.5rem 0.5rem;
    font-size: 1.5rem;
    letter-spacing: 0.05rem;
    color: var(--color-lightgrey);
  }

  .partner .indicator {
    width: 3rem;
    margin-bottom: 1rem;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.8;
  }

  .partner ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .logof img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }

  .partner ul img {
    margin-right: 0.5rem;
    width: 2.5rem;
    height: 2.5rem;
  }

  .mobileFooter {
    display: none;
  }

  .desktopFooter {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    padding: 1rem 0;
  }

  .logof {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin-left: 4rem;
    overflow: hidden;
    height: 55px;
    min-width: 200px;
  }
}
